<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head></head>
<body th:fragment="head">
    <div class="headInfo">
        <h3>
            <p class="fleft">
                <span th:text="#{welcomestart}"></span>
                <span th:text="${userInfo.nickName}"></span>
                <span th:text="#{welcomemid}"></span>
            </p>
            <p class="fright">
                <a href="#" class="white user-view">
                    <span th:text="#{account}" th:data-username="${userInfo.userName}" th:data-id="${userInfo.uid}"></span>
                </a>
                <a href="/logout" class="red">
                    <span th:text="#{loginout}"></span>
                </a>
            </p>
        </h3>
        <div class="lanauge">
            <button type="button" class="btn btn-info changeLanauge" data-value="zh">中文版</button>
            <button type="button" class="btn btn-info changeLanauge" data-value="en">English</button>
        </div>
    </div>
</body>
</html>